.Filters {
  margin-left: 16px;
  margin-top: 16px;
}

@media only screen and (min-width: 500px) {
  .Filters {
    margin-left: 24px;
  }
}

.Filters :last-child {
  margin-left: 8px;
}

.Filter {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 3px;
  height: 45px;
  padding: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 100px;
}

.FilterIcon {
  position: absolute;
  top: 15px;
  right: 10px;
}
