.Applicants {
  margin-top: 8px;
  margin-left: 16px;
}

@media only screen and (min-width: 500px) {
  .Applicants {
    margin-left: 24px;
  }
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.ApplicantCard {
  margin: 24px 0;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  width: 305px;
  height: 241px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.ApplicantCardLogo {
  width: 70px;
  height: 70px;
  border-radius: 50%;

  align-items: center;
  margin-bottom: 8px;
}

.ApplicantCardLogoText {
  margin: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.CardBlue {
  background: #e3e7f9;
  color: #405493;
}

.CardLightBlue {
  background: #cef0f4;
  color: #20adc5;
}

.CardOlive {
  background: #f0f4e1;
  color: #acaf36;
}

.CardRed {
  background: #fcd6de;
  color: #e52a50;
}

.CardOrange {
  background: #fee8d3;
  color: #e97428;
}

.ApplicantCard p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4a4a4a;
}
.ApplicantCardLabel {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 4px 8px;
  margin-top: 8px;
  color: #ffffff;
}
.ApplicantCardAppointment {
  background: #9d9d9d;
}

.ApplicantCardBid {
  background: #feb902;
}
